/*CONTAINERS*/


.Line{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap : 10px;
    width: 100%;

  }
  .space_between{
    justify-content: space-between;
  }
  .center{
    justify-content: center;
  }
  .infoColumn{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .VerticalContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 50px;
  }
  
  .ButtonsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .SmallMenuButtons{
    gap : 5%;
    background: #FFFFFF;
    justify-content: center;
    border: 2px solid #000000;
    border-radius: 30px;
    width: 100%;
    height: 180px;
}
  .MenuButtoncontainer{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:70%;
    left:2%;
    width: 95%;
    height: 26%;
    background: #FFFFFF;
    justify-content: center;
    gap : 10%;
    border: 2px solid #000000;
    border-radius: 43px;
  }
  .ExplanationContainer{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
}
.LineExplanation{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}
  /*COMPONENTS*/
  .Background{
    background-image: url('imgs/BikeBackGround.jpg');
    background-size: 100% 100%;
  }
/*Menu Button*/

  .ContentButton{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Button{
    width: 150px;
    height: 160px;
    background-color: white;
    border: none;
  }
  .IconButton{
    width: 113px;
    height: 113px;
  }

  /*Single Button*/
  .SingleButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 43px;
}
.BlueButton{
  background: #00A3FF;
  border-color: #00A3FF;
  border-radius: 43px;
}

.SingleButtonContent{
    margin: 20px;
}
/*Input Form*/
.InputBox{
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 15px;
}
.input{
    width: 100%;
    border: none;
    margin: 20px;
}
/*Input Pin*/
.InputPin{
    background: #fff url('imgs/PinCodeDigits.png') no-repeat;
    letter-spacing: 55px;
    width: 293;
    height: 50px;
    padding-left: 20px;
    border: none;
    outline: 0;
    background-position: bottom;
    overflow: hidden;
}
/*Images*/
.PictureFrame{
    border-radius: 30px;
    height: 300px;
    width: 450px;
    overflow: hidden;
    -webkit-transform: translateZ(0)
}
.videoContainer{
    border-radius: 30px;
    height: 300px;
    width: 450px;
    -webkit-transform: translateZ(0)
}


  .blackLine{
    width: 90%;
    height: 0px;
    border: 2px solid #000000;
    margin-left: 5%;
    
  }
  .Icon{
    width: 40px;
    height: 40px;
  }
  .BigIcon{
    width: 110px;
    height: 110px;
  }
