html, body {
    height: 100%;
    margin: 5%;
  }
  .container{
    display: flex ;
    flex-direction: column;
    justify-content: center;
    margin: auto ;
    margin-top: 20%;
    height: 100%;
}
  
