html, body {
    height: 100%;
    margin: 2%;
  }
  .container{
    display: flex ;
    flex-direction: column;
    justify-content: center;
    margin: auto ;
    margin-top: 20%;
    height: 100%;
}
.BigContainer{
    display: flex;
    flex-direction: column;
    margin : auto;
    align-items: center;
    margin-top: 10%;
    gap: 100px;
    height: 100%;
    
}
.LeftGap{
    margin-left: 5%;
}
