.Button{
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 43px;
}
.CaptureButton{

    background: #FFFFFF;
    border: 2px solid #00A3FF;
    border-radius: 43px;
}
.LineExplanation{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.ExplanationContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

html, body {
    height: 100%;
    margin: 0;
  }
  .container{
    display: flex;
    flex-direction: column;
    margin : auto;
    align-items: center;
    margin-top: 10%;
    gap: 100px;
    height: 100%;
    width: 90%;
    
}
.Icon{
    width: 50px;
    height: 50px;
}
.firstLine{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .Text{
    display: flex;
    font-size: 40px;
  }
  .SmallText{
    display: flex;
    font-size: 30px;
}
.ButtonContainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
}