body{
    display: flex;
    align-items: center; 
    justify-content: center
}
.Text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }
.PinCodeText{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
}
.selectedColor{
    color:#00A3FF;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin : auto;
    margin-top: 20%;
    flex-direction: column;
    
    gap : 10px;
}
.DoneButton{
    width: 141px;
    height: 53px;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 43px;
}