html, body {
    height: 100%;
    margin: 0% !important;
  }
  .smallContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin : auto;
    align-items: center;
    gap: 20px;
    background:rgba(255,255,255,0.8);
    border-radius: 50px;
    height: 20%;
    width: 60%;
}