@font-face {
    font-family: IBM_Plex_Sans;
    src: url(Fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf);
  }
  @font-face {
    font-family: myFirstFont;
    src: url(Fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf);
    font-weight: bold;
  }


.Text{
    display: flex;
    font-size: 50px;
    font-family: IBM_Plex_Sans;
    color: black;
  }
  .MediumText{
    display: flex;
    font-size: 40px;
    font-family: IBM_Plex_Sans;
    
  }

  .SmallText{
    display: flex;
    font-size: 30px;
    font-family: IBM_Plex_Sans;
  }
  .BigText{
    display: flex;
    font-size: 80px;
    font-family: IBM_Plex_Sans;
}
  .LongText{
    display: flex;
    font-size: 40px;
    text-align: center;
    font-family: IBM_Plex_Sans;
  }
  .Selected {
    color: #00A3FF;
  }
  .White{
    color: #FFFFFF;
  }